<div style="padding-block: 30px; display:flex; flex-direction:column; align-items: center " >
    <h1  style="margin-block:10px; font-size: 20px; text-align:center">SALA DE CHAT</h1>
    <form style="display:flex; flex-direction:column" onsubmit="return enviar()">
        <input id="caja-msg" type="text" placeholder="Mensaje"/>
        <input type="submit" value="Enviar"/>
    </form>
    <div style="width:50%; text-align:center" id="div-chats"></div>
</div>