<div style="display:flex; flex-direction: column; align-items: center;">
    
    {{#if this.username}}
    <h1>Bienvenido {{this.username}}</h1>
    <img style="width:100px" src={{this.foto}}>
    <form  action="/login/logout">
        <button>LOGOUT</button>
    </form>
    {{else}}
    <h1>No estas Logeado</h1>
    <form action="/login">
        <button>LOGIN</button>
    </form>
    {{/if}}


    

    
</div>