<div style="padding-block: 30px; display:flex; flex-direction: column; align-items: center;border-color:red; border-bottom:solid">
    <h1 style="margin-block:10px; font-size: 20px; ">FORMULARIO DE INGRESO DE PRODUCTOS</h1>
    <form style="display:flex; flex-direction: column;width: 200px;" onsubmit="return cargar()">
        <input style="margin-block: 5px;"  type="text" id="nombre" name="nombre" value=""  placeholder="Nombre"/>
        <input style="margin-block: 5px;" type="text" id="precio" name="precio" value="" placeholder="Precio"/>
        <input style="margin-block: 5px;" type="text" id="thumbnail" name="thumbnail" value="" placeholder="URL Imagen"/>
        <button style="margin-block: 10px;" name="boton" type="submit" placeholder="Cargar">CARGAR</button>
    </form>
</div>
