    <nav style="background-color: blue ; color:white ; font-size:1.5rem ; font-weight: 600">
        <ul style=" list-style:none; display:flex ; flex-direction:row; justify-content:space-between; padding-inline:5% "> 
            <li><a style="color:white ;text-decoration:none" href="/api/productos">Productos</a></li>
            <li><a style="color:white ;text-decoration:none" href="/api/infouser">Usuario</a></li>
            <li><a style="color:white ;text-decoration:none" href="/api/chat">Chat</a></li>
            <li><a style="color:white ;text-decoration:none" href="/api/carrito">Carrito</a></li>
        </ul>
    </nav>