<div style="padding-block: 30px; border-bottom:solid">
    <h1  style="margin-block:10px; font-size: 20px; text-align:center">LISTADO DE PRODUCTOS</h1>
    <div id="div-productos" style="display:flex; flex-direction:row; justify-content:space-around ; flex-wrap:wrap"></div>
</div>
