<div style="display:flex; flex-direction:column" >
    {{> encabezado}}
    {{> encabezado_login}}
    {{> nav}}
    <div>
        <h1>ADMINISTRACION</h1>
        <h2><a href="/api/productos/nuevoproducto">Ingresar Producto</a></h2>
        <h2><a href="/api/productos/borrarproductos">Borrar todos los productos</a></h2>
        <h2><a href="/api/chat/borrarchat">Borrar todos los Chats</a></h2>


    </div>
</div>