<div style="display:flex; flex-direction:column" >
    {{> encabezado}}
    {{> encabezado_login}}
    {{> nav}}
    <div >
        {{#if items}} 
        {{> item}}
        <div style="display: flex; justify-content:center ">
            <form style="width:50%; text-align:center" method="post" action="carrito/borrarcarrito">
                <button style="width:50%; font-size:2rem  ;margin-block: 10px;" name="boton" type="submit" placeholder="Borrar Carrito">Borrar Carrito</button>
            </form>
            <form style="width:50%; text-align:center"   method="post" action="carrito/comprar">
                <button style="width:50%; font-size:2rem  ;margin-block: 10px;" name="boton" type="submit" placeholder="Comprar">Comprar</button>
            </form>
        </div>

        {{else}} 
        <h2 style="text-align: center;">Carrito Vacio</h2>
        {{/if}}
    </div>
</div>