<div style="display:flex; flex-direction:column" >
    {{> encabezado}}
    <div>
        <div style="padding-block: 30px; display:flex; flex-direction: column; align-items: center;border-color:red; border-bottom:solid">
            <h1 style="margin-block:10px; font-size: 20px; ">FORMULARIO DE LOGIN</h1>
            <form style="display:flex; flex-direction: column;width: 200px;" method="post" action="/login">
                <input style="margin-block: 5px;"  type="text" id="username" name="username" value=""  placeholder="Username"/>
                <input style="margin-block: 5px;" type="text" id="password" name="password" value="" placeholder="Password"/>
                <button style="margin-block: 10px;" name="boton" type="submit" placeholder="Cargar">Ingresar</button>
            </form>
             <form action="login/signup"><button style="margin-block: 10px;" name="boton" type="submit" placeholder="Ir a Registro">Resgistrarse</button></form>
        </div>
    </div>
</div>
