<div style="display:flex; flex-direction:column" >
    <div>
        <h1>Hasta Luego {{login}}</h1>
    </div>
    <script>
        setTimeout(()=>window.location.href="/login" , 2000)
    </script>
</div>