<div style="display:flex; flex-direction:column" >
    {{> encabezado}}
    {{> encabezado_login}}
    {{> nav}}
    <div>
        {{> productos}}
        <h1 id="h1-compresion" style="text-align:center"></h1>
        {{> chat}}
    </div>
</div>