<div style="display:flex; flex-direction:column" >
    <div>
        <div style="padding-block: 30px; display:flex; flex-direction: column; align-items: center;border-color:red; border-bottom:solid">
            <p>ID proceso:{{pid}}</p>
            <p>Puerto:{{args}}</p>
            <h1 style="margin-block:10px; font-size: 20px; ">Calculo de numero aleatorio</h1>
            <form style="display:flex; flex-direction: column;width: 200px;" method="post" action="/api/randoms">
                <input style="margin-block: 5px;"  type="text" id="cantidad" name="cantidad" value=""  placeholder="Cantidad"/>
                <button style="margin-block: 10px;" name="boton" type="submit" placeholder="calcular">Calcular</button>
            </form>
        </div>
    </div>
</div>